// Some vars

$background-color: #FDFDFD !default;

// @import './card-fall-back-and-rotate-animation.scss';
// @import './technology-flip-down-cards.scss';

body {
    background-color: $background-color;
    font-family: "Slabo", "Roboto", "Helvetica", "Arial", sans-serif;
    letter-spacing: .02em;
    font-weight: 400;
}

.testing div {
    outline: 1px dashed red;
}

.testing span {
    outline: 1px dashed green;
}

.main-content {
    margin: 60px;
    margin-top: 60px;
}

.header-main-left {
    // background-image: url("../img/background-details.png");
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    /*background: #039BE5;*/
    position: relative;
    min-height: 600px;
    max-width: 300px;
}

.header-main-left-socials {
    background-color: transparent;
    position: relative;
    top: 0;
    left: 0;
    width: 25%;
    text-align: center;
}

.header-main-left-socials-tablet {
    background-color: transparent;
    position: relative;
    top: 0;
    left: 0;
    width: 25%;
    display: inline-block;
    text-align: center;
}

.header-main-left-desc {
    /*background-color : transparent;*/
    text-align: center;
    display: inline-block;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    left: 25%;
    width: 75%;
    min-height: inherit;
}

.body-main-container {
    min-height: 700px;
    padding-top: 60px;
}

.header-main-social-icons {
    margin: 16px;
    height: 48px;
    padding: 10%;
}

.icon-center > i {
    height: 100%;
    width: 100%;
}

.main-header-profile-photo {
    text-align: center;
    width: 80%;
    height: 175px;
    margin: 10%;
    max-width: 175px;
}

.main-header-profile-photo > img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.header-main-right {
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-image: url("../img/background-white-paper.jpg");
    background-repeat: repeat;
    width: 100%;
}

.demo-card-square.mdl-card {
    width: inherit;
    height: inherit;
    min-height: 320px;
    min-width: 320px;
}

.demo-card-square > .mdl-card__title {
    color: #fff;
    background: bottom right 15% no-repeat #46B6AC;
}

.content-right-top-holder {
    width: 50%;
    top: inherit;
    left: inherit;
}

.content-card-left {
    // overflow: hidden;
    // display: inline-block;
    // box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.19), inset 0 6px 6px rgba(0, 0, 0, 0.23);
    // margin: 10px;
}
.content-card-right {
    overflow: hidden;
    display: inline-block;
    // box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.19), inset 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 10px;
}

.tech-logo {
    // max-width: 90px;
    max-height: 90px;
    background: transparent;
    padding: 6px 0px 6px;

}

.tech-logo > img {
    max-width: 48px;
    max-height: 48px;
    width: auto;
    height: auto;
}

// .tech-logo > img.resize{
//     width: 100%; /* you can use % */
//     height: auto;
// }

//  {
//     max-width: 48px;
//     max-height: 48px;
//     width: 48px;
//     height: 48px;
// }

.tech-logo-grid {
    text-align: center;
    align-items: center;
    vertical-align:middle;

}

// .demo-card-square > .mdl-card__title {
//   // color: #fff;
//   background:
//     url('/assets/resources/img/random-quote-generator-screenshot2.png') bottom right 15% no-repeat #46B6AC;
// }

// .content-grid.tech-logo-grid {
//     max-height: 90px;
// }

// <style>
.demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background: url('/assets/resources/img/random-quote-generator-screenshot.png') center / cover;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  // padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
// </style>


